#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 1vw;
	text-align: center;

	overflow-x: hidden;


	background-image: url('./assets/clouds.webp');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.blurred-background {
	background-color: rgba(17, 94, 215, 0.22);
	backdrop-filter: blur(5px);
}

.current-weather-container {
	display: grid;
	grid-template-areas:
		"date           date"
		"sunrise-sunset temperature"
		"cloudiness     uv-index"
		"visibility     wind"
		"rain-snow      rain-snow";
	grid-template-columns: repeat(2, min(50%, 200px));
	grid-template-rows: 1fr;
	gap: 1rem;
	justify-content: center;

	max-width: 600px;
	margin: 2rem auto;
	padding: 1rem 0;

	color: black;

	.date,
	.sunrise-sunset,
	.cloudiness,
	.visibility,
	.rain-snow,
	.temperature,
	.uv-index,
	.wind,
	.rain-snow {
		background-color: rgba(17, 94, 215, 0.22);
		backdrop-filter: blur(5px);
		border-radius: 5px;
		width: 100%;
		max-width: 140px;
		margin: 0 auto;
		padding: 5px 0;

		h3 {
			width: 10ch;
			margin: 0 auto;
		}
	}

	.date {
		grid-area: date;

		width: 200px;
		height: 50px;

		margin: auto;
		padding-top: auto;
	}

	.sunrise-sunset {
		grid-area: sunrise-sunset;
	}

	.temperature {
		grid-area: temperature;
	}

	.cloudiness {
		grid-area: cloudiness;
	}

	.uv-index {
		grid-area: uv-index;
	}

	.visibility {
		grid-area: visibility;
	}

	.wind {
		grid-area: wind;
	}

	.rain-snow {
		grid-area: rain-snow;
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}